.tablesContainer {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}

.card {
  width: 20em;
}

.input-group {
  justify-content: center;
}

.card-body {
  text-align-last: center;
}

.form {
  display: flex;
  justify-content: center;
}

.btns {
  width: 15em;
  display: flex;
  flex-flow: wrap;
  place-content: space-evenly;
  align-self: center;
}

button {
  margin: 3px;
}